---
# Description : configure docker python module (for ansible usage)
# file : _configure_python_docker.yml
# from : https://github.com/nickjj/ansible-docker/blob/master/tasks/main.yml

- name: Install Python packages
  ansible.builtin.pip:
    name: >
      {{ item.name }}{% if item.version is defined %}=={{ item.version }}{% endif %}
    virtualenv: "{{ docker_pip_virtualenv }}"
    virtualenv_python: "python3"
    state: "{{ item.state | d('present') }}"
  loop: "{{ docker_default_pip_packages + docker_pip_packages }}"
  when: item.name is defined

- name: Create python3-docker proxy script to access Virtualenv's interpreter
  become: true
  become_user: root
  ansible.builtin.template:
    src: "usr/local/bin/python3-docker.j2"
    dest: "/usr/local/bin/python3-docker"
    owner: root
    group: root
    mode: "0755"

- name: Symlink selected Python package binaries to /usr/local/bin
  become: true
  become_user: root
  ansible.builtin.file:
    path: "{{ item.path }}"
    src: "{{ item.src }}"
    force: true
    state: "link"
  loop: "{{ docker_default_pip_packages + docker_pip_packages }}"
  when:
    - item.state | d("present") != "absent"
    - item.path is defined and item.src is defined